.title-log {
    color: white;
    line-height: 1.5;
    font-family: 'Montserrat', sans-serif;;
}

.login_form {
    text-align: left
}

.login_header {
    padding: 20px;
    color: white;
    line-height: 1.5;
}

.login-row {
    text-align: center;
    margin: 4rem auto auto;
}

.login-title {
    color: #000;
}

.error {
    color: red;
}

.success {
    color: green;
}

/* CSS for the full-screen loading spinner overlay */
#loadingOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8); /* Adjust opacity as needed */
  z-index: 9999; /* Set a high z-index to ensure the spinner is on top of other elements */
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  border: 4px solid #f3f3f3; /* Set the color of the spinner */
  border-top: 4px solid #3498db; /* Set the color of the spinner */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite; /* Add a rotation animation to the spinner */
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
