<!-- ======= Contact Section ======= -->
<section class="contact" id="contact">
    <div class="container">

        <div class="section-title">
            <h2>Contact</h2>
            <p>Contact Me</p>
        </div>

        <div class="row mt-2">

            <div class="col-md-6 d-flex align-items-stretch">
                <div class="info-box">
                    <i class="bx bx-phone-call"></i>
                    <h3>Call Me</h3>
                    <p>+234 7080 4532</p>
                </div>
            </div>

            <div class="col-md-6 mt-4 mt-md-0 d-flex align-items-stretch">
                <div class="info-box">
                    <i class="bx bx-share-alt"></i>
                    <h3>Social Profiles</h3>
                    <div class="social-links">
                        <a class="twitter" href="https://twitter.com/Basssnerd" target="_blank"><i class="bi bi-twitter"></i></a>
                        <a class="github" href="https://github.com/RhythmBear" target="_blank"><i class="bi bi-github"></i></a>
                        <a class="instagram" href="https://www.instagram.com/m.a_nuel/" target="_blank"><i class="bi bi-instagram"></i></a>
                        <a class="linkedin" href="https://www.linkedin.com/in/emmanuel-adepoju-4013001b4" target="_blank"><i
                                class="bi bi-linkedin"></i></a>
                    </div>
                </div>
            </div>


        </div>

        <form action="{{ url_for('submit_form') }}" class="php-email-form mt-4" method="post" role="form">
            {{ form.csrf_token }}
            <div class="row">
                <div class="col-md-6 form-group">
                    <input class="form-control" id="name" name="name" placeholder="Your Name" required type="text">
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                    <input class="form-control" id="email" name="email" placeholder="Your Email" required type="email">
                </div>
            </div>
            <div class="form-group mt-3">
                <input class="form-control" id="subject" name="subject" placeholder="Subject" required type="text">
            </div>
            <div class="form-group mt-3">
                <textarea class="form-control" name="message" placeholder="Message" required rows="5"></textarea>
            </div>
            <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
            </div>
            <div class="text-center">
                <button type="submit">Send Message</button>
            </div>
        </form>


    </div>
</section><!-- End Contact Section -->
