
  <!-- ======= Portfolio Section ======= -->
  <section id="portfolio" class="portfolio">
    <div class="container">

      <div class="section-title">
        <h2>Portfolio</h2>
        <p>My Projects</p>
      </div>

      <div class="row">
        <div class="col-lg-12 d-flex justify-content-center">
          <ul id="portfolio-flters">


            <li data-filter="*" class="filter-active">All</li>
            {% for filter in project_filters %}
            <li data-filter=".filter-{{ filter }}">{{filter}}</li>
            {% endfor %}
            
            <!-- <li data-filter=".filter-data">Data</li>
            <li data-filter=".filter-api">API</li> -->
          </ul>
        </div>
      </div>

      <div class="row portfolio-container">

        {% for project in projects %}
        <div class="col-lg-4 col-md-6 portfolio-item filter-{{project.category}}">
          <div class="portfolio-wrap">
            <img src="{{ url_for('download_file', name=project.image)}}" class="img-thumbnail" height="100" alt="">
            <div class="portfolio-info">
              <h4>{{ project.title }}</h4>
              <p>{{ project.category }}</p>
              <div class="portfolio-links">
                <a href="{{ url_for('show_port', project_name=project.title) }}" target="_blank" data-gallery="portfolioDetailsGallery" data-glightbox="type: external" class="portfolio-details-lightbox" title="Portfolio Details"><i class="bx bx-link"></i></a>



              </div>

            </div>
          </div>
        </div>

        {% endfor %}



      </div>
      {% if current_user.is_authenticated %}
            <span class="col-lg-6">
               <button type="button" class="btn btn-dark "><a href="/edit#portfolio">Add New Project</a> </button>
            </span>
      {% endif %}

    </div>
  </section><!-- End Portfolio Section -->
