
  <!-- ======= Portfolio Section ======= -->
  <section id="portfolio" class="portfolio">
    <div class="container">

      <div class="section-title">
        <h2>Portfolio</h2>
        <p>My Projects</p>
      </div>

      <div class="row">
        <div class="col-lg-12 d-flex justify-content-center">
          <ul id="portfolio-flters">


            <li data-filter="*" class="filter-active">All</li>
            {% for filter in project_filters %}
            <li data-filter=".filter-{{ filter }}">{{filter}}</li>
            {% endfor %}
            
            <!-- <li data-filter=".filter-data">Data</li>
            <li data-filter=".filter-api">API</li> -->
          </ul>
        </div>
      </div>

      <div class="row portfolio-container mb-5">

        {% if not projects %}
        <div class="col portfolio-item filter-All">

          <div class="col-lg-12">
               <h5>This Section is Currently Undergoing Maintainance. PLease refer to <a href="https://ng.linkedin.com/in/emmanuel-adepoju-4013001b4?trk=profile-badge">My Linkedin</a> to view Projects. I apologize for the Inconvinience</h5>

            </div>

          </div>

        {% else %}
        {% for project in projects %}
        <div class="col-lg-3 col-md-3 portfolio-item filter-{{project.category}}">
          <div class="portfolio-wrap lg-3 md-4 sm-4">

            <img src="{{ project.image }}" onerror="this.src='https://img.freepik.com/free-photo/project-management-planning-development-message-box-notification-graphic_53876-120467.jpg'" class="img-thumbnail" alt="Image for the Portfolio item">
            <p><strong>{{ project.title }}</strong></p>
            <div class="portfolio-info">
              <h3><strong>{{ project.title }}</strong></h3>
              <p style="color:#18d26e;"><b>{{ project.category }}</b></p>
              <div class="portfolio-links">
                <a href="{{ url_for('show_port', project_name=project.title) }}" target="_blank" data-gallery="portfolioDetailsGallery" data-glightbox="type: external" class="portfolio-details-lightbox" title="Portfolio Details"><i class="bx bx-link"></i></a>



              </div>

            </div>
          </div>
        </div>

        {% endfor %}
        {% endif %}



      </div>
      {% if current_user.is_authenticated %}
            <span class="col-lg-6">
               <button type="button" class="btn btn-dark "><a href="/edit#portfolio">Add New Project</a> </button>
            </span>
      {% endif %}

    </div>
  </section><!-- End Portfolio Section -->
