
  <!-- ======= Services Section ======= -->
  <section id="services" class="services">
    <div class="container">

      <div class="section-title">
        <h2>Services</h2>
        <p>My Services</p>
      </div>

      <div class="row">
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-data"></i></div>
            <h4><a href="">ETL and Data Warehousing</a></h4>
            <p>Design and implement efficient ETL pipelines and optimize data warehouse schemas to support analytical and reporting needs</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-chart"></i></div>
            <h4><a href="">Data Analysis and Visualization:</a></h4>
            <p>Deliver in-depth data analysis and create interactive dashboards to enable informed decision-making using tools like Power BI and Tableau</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-cloud"></i></div>
            <h4><a href="">Cloud Infrastructure and Deployment</a></h4>
            <p>Build, Architect and deploy Web Apps, Solutions on platforms like Azure,Digital Ocean, Heroku optimizing for scalability, reliability, and cost-efficiency</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-world"></i></div>
            <h4><a href="">Web Scraping</a></h4>
            <p>Web scraping services using Python libraries like Selenium and BeautifulSoup to extract data from websites and automate data entry tasks, saving you time and increasing productivity</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-code"></i></div>
            <h4><a href="">Scripting and Automation</a></h4>
            <p>I can create custom scripts and automation tools using Python, shell scripting, No-Code Tools, AI to help streamline Workflows</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-bot"></i></div>
            <h4><a href="">Custom Chatbots with Large Language Models(LLMs)</a></h4>
            <p>Leverage LLMs like OpenAI's GPT to create tailored chatbot solutions for customer support, workflow automation, and enhanced user interaction.</p>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Services Section -->

