
  <!-- ======= Services Section ======= -->
  <section id="services" class="services">
    <div class="container">

      <div class="section-title">
        <h2>Services</h2>
        <p>My Services</p>
      </div>

      <div class="row">
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
          <div class="icon-box">
            <div class="icon"><i class="bx bxl-dribbble"></i></div>
            <h4><a href="">Custom Python Flask Web Application Development</a></h4>
            <p>Design and develop custom web applications using Python Flask that meet your specific business needs.</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-cloud"></i></div>
            <h4><a href="">Cloud Architecture and Deployment:</a></h4>
            <p>Design, Deploy and Manage cloud-based solutions on Google Cloud Platform that are optimized for your business's performance, reliability, and cost-effectiveness.</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-data"></i></div>
            <h4><a href="">Database Design and Development:</a></h4>
            <p>Design and Optimize database schemas for your web applications to ensure they are scalable and efficient</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-world"></i></div>
            <h4><a href="">Web Scraping</a></h4>
            <p>Web scraping services using Python libraries like Selenium and BeautifulSoup to extract data from websites and automate data entry tasks, saving you time and increasing productivity</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-code"></i></div>
            <h4><a href="">Scripting and Automation</a></h4>
            <p>I can create custom scripts and automation tools using Python, shell scripting, and other programming languages to automate repetitive tasks and streamline your workflows, so you can focus on your core business</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-arch"></i></div>
            <h4><a href="">API Development and Integration</a></h4>
            <p>Develop REST APIs using Flask and integrate them with third-party applications or services to enhance your business's capabilities.</p>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Services Section -->

